* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 4.5rem;
  background-color: black;
}

.header01 {
  width: 100vw;
  height: 5rem;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.header02 {
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}

.header03 {
  justify-content: center;
  display: flex;
}

.p01 {
  color: white;
}

.p02 {
  color: white;
  font-size: 14px;
  font-weight: 1px;
}

a {
  color: white;
}

.img01:hover {
  transform: scale(1.1);
}

.img02 {
  border: 0px solid;
  border-radius: 60px;
  width: 41px;
}

.header03 {
  display: flex;
  gap: 10px;
}

.header04 {
  display: flex;
  font-size: 15px;
  gap: 33px;
  justify-content: center;
  align-items: center;
}

.header05 {
  display: flex;
  align-items: center;
  gap: 20px;
}

main {
  width: 100vw;
  height: 100vh;
}

.main1 {
  width: 100vw;
  height: 70vh;
  background-color: #19e68c;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.img2 {
  border: 0px solid;
  border-radius: 5px;
  width: 17rem;
  height: 6rem;
  position: relative;
  transition: transform 0.3s ease;
}

.img2:hover {
  transform: translateY(-3px);
}

.p03 {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.h102 {
  font-size: 42px;
  font-weight: 900;
}

.h103 {
  font-size: 2rem;
  font-weight: 900;
}

.a1 {
  text-decoration: underline;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.main2 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 35vh;
  gap: 20px;
}

.img03 {
  width: 7rem;
  height: 2.5rem;
  border: 0px solid;
  border-radius: 5px;
}

.applegooglemicrosoft {
  display: flex;
  gap: 25px;
}

.main3 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 45vh;
  background-color: #222326;
}

.img04 {
  width: 33rem;
}

.h104 {
  font-size: 2rem;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul li::after {
  content: ""; /* Necessário para mostrar a imagem como marcador */
  display: inline-block;
  width: 7px; /* Ajuste a largura desejada da imagem */
  height: 7px; /* Ajuste a altura desejada da imagem */
  background-image: url(./src/icons8-círculo-preenchido-30.png);
  background-size: cover; /* ou contain, dependendo do seu requisito */
  margin-left: 23px; /* Espaçamento à direita do marcador */
}

ul li.no-marker::after {
  content: none; /* Remove o marcador para o último item */
}

span {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.section01 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.a12 {
  text-decoration: underline;
  color: #1eaa4c;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: black;
  width: 100vw;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  width: 80vw;
  height: 20rem;
  align-items: center;
  justify-content: center;
}

.img05 {
  width: 7rem;
  height: 2.5rem;
}

h4 {
  color: grey;
  font-size: 12px;
  letter-spacing: 1px;
}

.a01 {
  font-family: Arial, Helvetica, sans-serif;
}

.a01:hover {
  color: #1eaa4c;
}

.nav01 {
  flex-direction: column;
  display: flex;
  gap: 26px;
  padding-left: 50px;
}

.instafacex {
  height: 15rem;
  width: 20vw;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.img06 {
  width: 28px;
  height: 28px;
  border: 0px solid;
  border-radius: 50px;
}
